body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

.container {
    margin-top: 10vh;
    display: grid;
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    box-shadow: 0 0 10px 20px rgb(105, 105, 105);
    border-radius: 10px;
}

.button-container {
    display: flex;
    margin-top: 3vh;
    justify-content: space-around;
    width: = 500px;
}

.button-container button {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 10px rgb(51, 51, 51);
    background-color: brown;
    color: whitesmoke;
    cursor: pointer;
}